#titulo{

    color: lightseagreen;

}
.rojo{

    color: red;

}
.destacado{
color: yellowgreen;

}
#subtitulo{
color: blue;
}
.aenan{
    color: red;
}
.aliquam{
    color: blue;
}

.especial1{
    color: blueviolet;
}
.especial{
    color:goldenrod
}
.don{
    color: green;
}
.tit{
    color: red;
}
p{
    color: yellowgreen;
}
#especial{
    color: violet;
}
.donec{
    color: green;
}